.navbar-brand {
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-dark .navbar-brand {
  color: orange;
}

.navbar-dark .navbar-nav .nav-link {
  color: orange;
}

.navbar .active {
  color: white;
  text-decoration: underline;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 2rem;
    border: 1px solid orange;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .card-columns {
    column-count: 2;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-img,
.card-height {
    height: 400px;
}


body {
    background-color: #212529;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

.color-body {
    color: orange;
}

.dropdown-divider {
    border-color: orange;
}

.jumbotron {
    background-image: url("https://zupimages.net/up/18/38/pt2c.jpg");
    background-size: cover;
    background-position: center center;
}

html{
    height: 100%;
}

.card {
    background-color: transparent;
}

p {
    color: white;
}

.lead {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 2rem;
    padding: 30px;
    border: 1px solid orange;
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid black;
}

ol.carousel-indicators li.active{
    background: orange;
}

.col-6{
    font-size: 1.5rem;
}

